*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

/* estilos de home*/

 
header{
    padding: 10px;
    text-align: center;
}

header nav ul{
    list-style: none;

 }

header nav ul li{
    display: inline-block;
    margin: 15px;
    

}

header nav ul li a{
    text-decoration: none;
    color: rgb(222, 236, 248);
    transition: transform .2s;
 
    transform: scale(10.5); 
    
}




header h1{
    text-align: center;
}
header h2{
    text-align: center;
}


body{
    background-color: black;
    font: optional;color: aliceblue;
    font-family: Tahoma;
    
   
}

main img{
    text-align: center;
    transform: translate(1.5px);
}
nav{
    background: linear-gradient(to top, rgb(252, 82, 82), black);
    

    
}

li{
    display: inline-block;
    position: static;
 }


div p{
    padding: 25px;
    background-color: rgb(46, 46, 46);
}


footer{
font-style: italic;
background-color: rgb(245, 163, 55);
text-align: right;

}


/* estilos de nosotros */ 

div h2{
    padding: 25px;
}

.parrafonosotros{ 
    margin: 15px;

    padding: 25px;

}


/* estilo de servicios */

main div div{
    display: inline-block;
    margin: 50px;
}

main div img{
    size: 15px;
    margin-left: 40 px;
}

main div h3{
    background: linear-gradient(to top, rgb(252, 0, 0), black);
}

/* estilo de contacto */ 

