* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos de home*/
header {
  padding: 10px;
  text-align: center; }

header nav ul {
  list-style: none; }

header nav ul li {
  display: inline-block;
  margin: 2px;
  text-align: center;
  font-weight: bold; }

header nav ul li a {
  text-decoration: none;
  color: #f3eeee;
  transition: transform .2s;
  transform: scale(10.5); }

header section p {
  text-align: center;
  font-size: small; }

header h1 {
  text-align: center;
  font-style: inherit;
  font-size: 50px; }

header h2 {
  text-align: center;
  font-size: small;
  font-style: italic; }

body {
  background-color: rgba(10, 1, 1, 0.919);
  font: optional;
  color: aliceblue;
  font-family: Tahoma; }

main img .imgp {
  display: grid;
  grid-row: span 1;
  object-fit: cover;
  width: 490px;
  height: 600px;
  margin-right: 15%; }

nav {
  background: linear-gradient(to top, #ae1616, black); }

li {
  display: inline-block;
  position: static; }

div p {
  padding: 25px;
  background-color: rgba(143, 143, 143, 0.096);
  display: grid; }

footer {
  font-style: italic;
  background: linear-gradient(to top, #ae1616, black);
  text-align: right; }

/* estilos de nosotros */
div h2 {
  padding: 25px; }

.parrafonosotros {
  margin: 15px;
  text-align: center;
  padding: 25px; }

/* estilo de servicios */
main div div {
  display: inline-block;
  margin: 50px;
  text-align: center; }

main div h3 {
  background: linear-gradient(to top, #ae1616, black); }

section p {
  width: 1200rn;
  height: 1px;
  justify-content: center; }

/* media queries */
@media screen and (max-width: 600px) {
  body {
    background: linear-gradient(to top, #282626, black); }
  main img {
    width: 459px;
    height: 330px;
    object-fit: contain;
    display: grid;
    grid-template-columns: span 1;
    grid-template-rows: span 1; } }

@media screen and (max-width: 380px) {
  body {
    background-color: #530c0c; } }
