*{  margin: 0;
    padding: 0;
    box-sizing: border-box ;}
  
    @import "variables/vars";
    @import "html/contacto";
    @import "html/nosotros";
    @import "html/productos";
    @import "html/servicios";

  /* estilos de home*/
  
  header{
    padding: 7px;
    text-align: center; 
    nav{
        background: linear-gradient(to top, #ff0101be, rgba(0, 0, 0, 0.801)); ul{ li{ 
                background: linear-gradient(to top, #ff0101be, rgba(0, 0, 0, 0.801));
                text-align: center;
                display: inline-block;
                a{  font-weight: 600;
                    text-decoration: none;
                    color: rgb(245, 237, 237);
                    text-transform: uppercase;
                    padding: 15px;

                }

                }}}
    nav{ul{li:hover{
        background: #5e0909;

    }}}}
    div{h1 {
        font-family: 'Anton', sans-serif;
        font-size: 90px;
        text-transform: uppercase;
        font-weight: 600;
        text-shadow: 3px 4px 5px #f8f8f8;
        color: rgb(190, 31, 31);
    }
    h2{
        font-size: 45;
        font-family: 'Anton', sans-serif;
        text-shadow: #eb2929;
        color: #e6d4d4;
    }
    
}    
main{ img{
    height: 450px;
    width: 650px;
    display: grid; 
    grid-auto-flow: column dense; 
    grid-template-columns: 0.5fr 0.5fr; 
    grid-template-rows: 0.5fr; 
    gap: 0px 0px; 
    display: inline-block;}
    
   }

   body{
    background-color: $color-principal;
    justify-content: center;
    .parrafohome  {
        color: #eeeeee;
        height: 120px;
        width: 120px;
        display: grid; 
        grid-auto-flow: column dense; 
        grid-template-columns: 0.5fr 0.5fr; 
        grid-template-rows: 0.5fr; 
        gap: 0px 0px; 
        display: inline-block;
       
      
    }
h3{
    font-size: 45;
    font-family: 'Anton', sans-serif;
    text-shadow: 1px 3px 4px #ffffff;
    color: rgb(190, 31, 31);}}


    @media screen and (max-width: 300px) {
        body{
            background: linear-gradient(to top, rgb(0, 0, 0), black);
            
            }
        main{

           

            img{
                width: 205px;
                height: 250px;
                text-align: center; 
                display: inline-block;
                margin: auto;
                padding: auto;
                          
            }

          
            }
            .imgp{
                width: 205px;
                height: 250px;
                text-align: center; 
                display: inline-block;
                margin: 10px;
                padding: 10px;}
          
            .servicios{
                display: inline-block;
                img{
                    width: 205px;
                    height: 250px;
                    display: block;
                    margin: auto;
                    padding: auto;
                    display: inline-block;
                }
            }      
         }
       
        



        

      @media screen and (min-width: 133px) {
        body{
            background: linear-gradient(to top, rgb(0, 0, 0), black);
            }
        main{


            .imgp{
                width: 400px;
                height: 300px;
                display: inline-block;
                margin: auto;
                padding: 15px;
                border-radius: 35px;

                
            
        }
            .servicios{
                display: inline-block;
                img{
                    width: 275px;
                    height: 300px;
                    display: block;
                    margin: auto;
                    padding: auto;
                }
            }


            .mp{
                display: inline-block;
                img{
                    width: 275px;
                    height: 300px;
                    display: block;
                    margin: auto;
                    padding: auto;
                    
                    
                }
            }
            img{
                width: 625px;
                height: 500px;
                object-fit: cover;
                text-align: center; 
                          
            }
            .parrafohome{ font-family: 'Anton', sans-serif;
                font-size: 20px;
                font-weight: 100;
                text-shadow: 2px 3px 5px #5c5c5c;
                color: #faf5f5;
                text-align: center;
                height: 470px;
                width: 470px;
                
            }

            .datos{
                img{
                    width: 315px;
                    height: 315px;
                }
            }
        }    
      }
   
     
