.barra{
     ul{ li{ background: linear-gradient(to top, #cf2020e8, rgba(0, 0, 0, 0.801));
            text-align: center;
            display: inline-block;
         a{ text-decoration: none;
            color: #ffffff;
            text-transform: uppercase;
            font-family: 'Anton', sans-serif;
            font-weight: 400;
            padding: 15px;
        }}}}

    nav{ul{li:hover{
        background: #5e0909;
    }}}

header{
    .contacto1{
        h1{
            font-family: 'Anton', sans-serif;
            font-size: 60px;
            text-transform: uppercase;
            font-weight: 400;
            text-shadow: 2px 3px 3px #ffffff;
            color: rgb(190, 31, 31);}}} 
.subtitulo{
            background: linear-gradient(to top, #ff0101, rgb(255, 0, 0));
            font-family: 'Anton', sans-serif;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 200;
            text-shadow: 2px 3px 3px #f70404;
            color: #fdfdfdfa;
            border-radius: 255px;
}


.subtitulo2{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
    text-shadow: 2px 3px 3px #f70404;
    color: #f0eaea;
    padding: 15px;
}
              
.datos{
    display: grid; 
  grid-auto-flow: column dense;  
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 2px 4px; 
  align-items: center;
  display: inline-block;
  font-weight: 200;

}    

h3{
    font-weight: 200;

}

footer{
    background: linear-gradient(to top, #ff0101be, rgba(0, 0, 0, 0.801));
    color: #fdfdfd;
    
}